@media(max-width:1199px){
    nav ul li a{
        padding: 25px 14px;    
    }
}
@media(max-width:991px){
   
    .home__content h1{
        font-size: 22px;
        text-align: center;
    }
    .slider{
        height: auto;
        min-height: auto;
        overflow: hidden;
    }
    .slider img{
        width: 100%
    }
    .navbar-toggler {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px;
        color: #1e1e1e;
        background-color: #e5b659;
        border-radius: 0;
    }
    nav ul li a{
        display: block;
        text-align: center;
        
    }
    .about p.mx-auto{
        width: 90%
    }
}
@media(max-width:767px){
    .home__content{
        position: static;
        top: 0;
        left: 0;
        transform: translate(0);
    }
    .home__content h1{
        display: block
    }
    .top__nav{
        display: none
    }
    .faqs{
        background: #1e1e1e
    }
    footer img {
        width: 100px;
    }
    footer .socail__icon li {
        margin: 3px;
    }
    .about p.mx-auto{
        width: 100%
    }
}
@media(max-width:575px){
    
}
@media (min-width: 991px) {
    nav .collapse {
        display: inline-block;
    }
    nav .collapse li {
        display: inline-block;
    }
}
