/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
        - Social-List
        - Contact-List
    # Images
    # top__nav  
    # nav
    # sponsor
    # faqs
    # footer
    # about
    # service
    # contact
    # slider
    # scroll
*/


/* General
======================= */
/* Fonts */
@font-face {
    font-family: 'bein';
    src: url(../front-files/fonts/bein.TTF);
}
*,*:hover,:focus{
    outline: 0 !important;
    box-shadow: none;
}
body{
    font-size: 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'bein';
}
.mainColor{
    color: #e5b659
}
.secondColor{
    color: #1e1e1e
}
.custom-btn{
    background-color: transparent;
    border:1px solid #e5b659;
    color: #e5b659;
    padding: 7px 20px;
    cursor: pointer;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
}
.custom-btn:hover{
    background-color: #1e1e1e;
}
.form-group{
    margin-bottom: 15px;
}
.form-group .form-control{
    background-color: #1e1e1e;
    border:1px solid #e5b659;
    color: #e5b659;
    border-radius: 0;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
}
.form-group .form-control:focus{
    border-color: transparent;
    box-shadow: 0 0 30px 6px rgba(255,220,220,.1);

}

/* Links
==========================*/
a{
    
}
a, a:hover, a:focus{
    text-decoration: none;
}
/* Headings 
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}
p{
    margin: 0;
}
/*Lists
==========================*/
ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* socail__icon
=================== */
.socail__icon{
    
}
.socail__icon li{
    display: inline-block;
   
}
.socail__icon li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #e5b659;
    border-radius: 50%;
    color: #1e1e1e;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}
.socail__icon li a.twitter:hover{
    background:#55acee;
    color:#FFF
}
.socail__icon li a.instagram:hover{
    background:#e4405f;
    color:#FFF;
}
.socail__icon li a.whatsapp:hover{
    background:#25D366;
}
.socail__icon li a.facebook:hover{
    background:#3b5999;
    color:#FFF
}
.socail__icon li a.snapchat:hover{
    background:#FFFC00;
}

.socail__icon li a i {
    
}
/* Images
=========================== */
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* Section Setting
============================ */ 
.section-lg{
    padding: 50px 0;
}
.section-title {
    text-align: center
}
.section-title h3{
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}
.section-title h3:after{
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    background-color: #1e1e1e;
    bottom: 0px;
    right: 0;
}
.section-title h3.white:after{
    
    background-color: #fff;
    
}
.section-title h3:before{
    content: "";
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: #e5b659;
    bottom: 0px;
    left:0;
}
/* top__nav
==================================== */
.top__nav{
    background-color: #1e1e1e;
    padding: 10px 0 5px;
    color: #e5b659;
}
.top__nav .contact {
    
}
.top__nav .contact li{
    display: inline-block;
    margin: 0 10px
}
.top__nav .contact i {
    margin-left: 5px
}
/* nav
=================== */
nav{
    box-shadow: 0 0 30px 6px rgba(31,51,73,.1);
    background: #1e1e1e;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 998;
    
}
nav img{
    width: 62px;
    margin: 15px 0;
}
.navbar-toggler {
  display: none;
}

nav ul{
    
}
nav ul li{
    
}
nav ul li a {
    color: #FFF;
    padding: 25px 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out
}
nav ul li a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #e5b659;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out
}
nav ul li a:hover,
nav ul li a:focus{
    color: #FFF
}
/*nav ul li a:hover:after,*/
nav ul li a.active:after{
    height: 100%;
}
/* sponsor
=============== */
.sponsor{
    color: #e5b659;
    text-align: center;
    padding: 80px 0;
    width: 100%;
    max-width: 750px;
    margin: auto
}
.sponsor .widget{
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.sponsor .widget img{
    height: 150px;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out
}
.sponsor .widget img:hover{
    filter: grayscale(0%);
}
/* faqs
======================= */
.faqs{
    background: url(../images/02.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#accordion {
    padding: 20px;
}
#accordion .card {
    background-color: transparent;
    border: 0;
    margin-bottom: 25px;
}
#accordion .card .card-header {
    padding: 0;
    background-color: transparent;
    border: none;
}
#accordion .card .card-header .card-link {
    display: block;
    padding: 9px 15px 15px 40px;
    background-color: #e5b659;
    color: #FFF;
    position: relative;
    transition: all 0.3s ease-in-out;
}
#accordion .card .card-header .card-link i {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translatey(-50%);
            transform: translatey(-50%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
#accordion .card .card-header .card-link.collapsed {
    background-color: #1e1e1e;
    border-bottom: 3px solid #e5b659;
}
#accordion .card .card-header .card-link.collapsed i {
    -webkit-transform: translatey(-50%) rotate(180deg);
            transform: translatey(-50%) rotate(180deg);
}
#accordion .card .card-body {
    margin-top: 20px;
    background-color: #f1f1f1;
    line-height:1.8;
}
/* footer
========================*/ 
footer{
    background-color: #1e1e1e;
    padding: 50px 0;
}
footer img{
    width: 150px
}
footer .socail__icon li{
    margin: 10px
}
footer .socail__icon li a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px
}
footer p{
    color: #FFF
}
footer p a{
    text-decoration: underline;
    color: #e5b659
}
footer p a:hover{
    text-decoration: none;
    color: #e5b659
}
/* about
========================*/
.about{
    
}
.about p.mx-auto{
    width: 75%
}
/* service 
=============================*/
.service {
    background-color: #f1f1f1
}
.service .service__widget{
    
}
.service .service__widget .service__widget-icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background: #e5b659;
    color: #fff;
    margin: 15px auto;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
}
.service .service__widget:hover .service__widget-icon{
    background: #1e1e1e;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.service .service__widget .service__widget-icon i{
    
}
/* contact
================= */
.contact-us{
    background: url(../images/contact-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff
}
.contact__widget{
    overflow: hidden;
    margin-bottom: 15px;
}
.contact__widget .contact__widget-icon{
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #e5b659;
    border-radius: 50%;
    border:2px solid #e5b659;
    
}
.contact__widget .contact__widget-icon i{
    
}
.contact__widget .contact__widget-text{
    float: left;
    width: calc(100% - 50px);
}
.contact__widget .contact__widget-text h4{
    color: #e5b659;
    margin-bottom: 10px
}
.contact__widget .contact__widget-text p{
    
}
.contact-us form{
    padding: 20px;
    background-color: #1e1e1e;
    position: relative
}
.contact-us form:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-color: #e5b659;
    z-index: -1
}
/* slider
=========================*/
.home{
    position: relative;
}
.slider{
    height: calc(100vh - 150px);
    min-height: 500px;
    overflow: hidden;
    
}
.slider img{
    object-fit: cover;
    height: 100%;
   
    transform: scale(1.0);
}
.sliderControl{
    
}
.sliderControl .arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #e5b659;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #1e1e1e;
/*    border:1px solid #e5b659;*/
    cursor: pointer;
    box-shadow: 0 0 30px 6px rgba(255,255,252,.1);

}
.sliderControl .arrow.next{
    right: 0
}
.sliderControl .arrow.prev{
    left: 0
}
.home .slick-active img{
    transform: scale(1.2);
    transition: all 9s ease-in-out;
}
.home__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e5b659;
}
.home__content h1{
    display: inline-block;
    padding: 30px 20px;
    background-color: #1e1e1e;
/*    border-bottom: 4px solid #e5b659;*/
    border-right: 4px solid #e5b659;
}

/* scroll
=====================*/
#scroll {
    position: fixed;
    bottom: 0;
    right: 38px;
    z-index: 999;
    cursor: pointer;
    display: none;
    color: #fff
}
#scroll i {
    width: 25px;
    position: relative;
    left: -19px;
}
#scroll:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    border-width: 20px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: #e5b659;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 0px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    z-index: -1;
}





















